h1, h2, h3, h4, h5, h6 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  @include font(bold, 44px, 48px);
  @media (max-width: $desktop) {
    @include font(bold, 36px, 40px);
  }
  @media (max-width: $tablet) {
    @include font(bold, 20px, 24px);
  }
}

h2 {
  font-family: 'Montserrat', sans-serif;
  @include font(bold, 44px, 48px);
  @media (max-width: $desktop) {
    @include font(bold, 32px, 40px);
  }
  @media (max-width: $tablet) {
    @include font(bold, 20px, 24px);
  }
}


h3 {
  font-family: 'Montserrat', sans-serif;
  @include font(bold, 18px, 30px);
  @media (max-width: $desktop) {
    @include font(bold, 12px, 24px);
  }
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  @include font(normal, 16px, 24px);
  @media (max-width: $desktop) {
    @include font(normal, 12px, 16px);
  }
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.sourcesans {
  font-family: 'Source Sans Pro', sans-serif;
}

.bold {
  font-weight: bold;
}