* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 310px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

img {
  vertical-align: top;
}

.visible-on-desktop {
  @media (max-width: $desktop) {
    display: none;
  }
}

.visible-on-tab {
  display: none;
  @media (max-width: $desktop) {
    display: block;
  }
  @media (max-width: $tablet) {
    display: none;
  }
}

.visible-on-mobile {
  display: none;
  @media (max-width: $tablet) {
    display: block;
  }
}

.invisible-on-mobile {
  @media (max-width: $tablet) {
    display: none;
  }
}
