.button {
  position: relative;
  display: inline-block;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  border: none;
  outline: 0;
  border-radius: 50px;
  transition: all .2s ease-in-out;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  @include font(normal, 16px, 20px);
  @media (max-width: $desktop) {
    @include font(normal, 11px, 13px);
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: $tablet) {
  }
  &--primary-color {
    background-color: $primary;
    color: $darker;
  }
  &--darker-color {
    background-color: $darker;
    color: $white;
  }
  &--main-size {
    padding-top: 12px;
    padding-bottom: 12px;
    @media (max-width: $tablet) {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  &--middle-size {
    padding: 15px 75px;
    @media (max-width: $desktop) {
      padding: 10px 45px;
    }
    @media (max-width: $tablet) {
      padding: 7px 38px;
    }
  }
  &--small-size {
    padding-top: 15px;
    padding-bottom: 15px;
    @media (max-width: $desktop) {
      padding: 15px 25px;
    }
    @media (max-width: $tablet) {
      padding: 7px 38px;
    }
  }
}