.contacts {
  &__warp {
    @extend .warps;
  }
  &__title {
    text-align: center;
    &--indent {
    }
  }
  &__items {
    display: flex;
    @media (max-width: $tablet) {
      display: block;
    }
  }
  &__item {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    //border: 1px solid navy;
    @media (max-width: $desktop) {
      width: 50%;
      padding: 50px 15px;
      &:first-child {
        display: none;
      }
    }
    @media (max-width: $tablet) {
      width: 100%;
    }
    &--indent {
      margin-top: 40px;
      padding: 25px;
      @media (max-width: $desktop) {
        padding-right: 15px;
        padding-left: 15px;
      }
      @media (max-width: $tablet) {
        margin-top: 0;
      }
    }
  }
  &__image {
    width: 90%;
    height: 374px;
    object-fit: cover;
    object-position: top;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
  }
  &__insert {
    width: 50%;
    &--long {
      padding-top: 20px;
      width: 100%;
    }
    &:nth-child(1) {
      padding-right: 15px;
    }
    &:nth-child(2) {
      padding-left: 15px;
    }
  }
  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    padding: 5px 0 5px 5px;
    font-family: 'Source Sans Pro', sans-serif;
    @include font(normal, 18px, 27px);
    @media (max-width: $desktop) {
      @include font(normal, 11px, 16px);
    }
    &--indent {
      margin-bottom: 50px;
    }
  }
  &__button {
    text-decoration: none;
    margin: 0 auto;
  }
  &__address {
    display: flex;
    align-items: center;
    .svg {
      width: 18px;
      height: 20px;
    }
    &--indent {
      padding-bottom: 20px;
      @media (max-width: $desktop) {
        padding-bottom: 15px;
      }
    }
  }
  &__text {
    font-family: 'Source Sans Pro', sans-serif;
    @include font(normal, 16px, 24px);
    @media (max-width: $desktop) {
      @include font(normal, 11px, 16px);
    }
    padding-left: 12px;
    @media (max-width: $desktop) {
      padding-left: 6px;
    }
  }
  &__social{

    &--indent {
      margin-top: 20px;
      @media (max-width: $desktop) {
        margin-top: 10px;
      }
      @media (max-width: $desktop) {
        margin-top: 5px;
      }
    }
  }
  &--indent {
    padding-top: 50px;
    @media (max-width: $desktop) {
      padding-top: 30px;
    }
  }
}