.contacts {
  &__warp {
    @extend .warps;
  }
  &__title {
    text-align: center;
    &--indent {
      padding-bottom: 50px;
      @media (max-width: $desktop) {
        padding-bottom: 30px;
      }
    }
  }
  &__items {
    display: flex;
  }
  &__item {
    width: 33.33%;
    padding: 50px;
    //border: 1px solid #000;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
  }
  &__insert {
    width: 50%;
    &--long {
      width: 100%;
    }
  }
  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid;
    padding: 5px 0 5px 5px;
    font-family: 'Source Sans Pro', sans-serif;
    @include font(normal, 18px, 27px);
    @media (max-width: $desktop) {
      @include font(normal, 11x, 16px);
    }
    &--indent {
      margin-bottom: 50px;
    }
  }
  &__button {
    text-decoration: none;
    margin: 0 auto;
  }
  &__address {
    display: flex;
    align-items: center;
    .svg {
      width: 18px;
      height: 20px;
    }
  }
  &__text {
    padding-left: 12px;
    @media (max-width: $desktop) {
      padding-left: 6px;
    }
  }
}