.map {
  position: relative;
  &__block {
    position: absolute;
    top: 48%;
    left: 52%;
    width: 190px;
    height: 80px;
    border-radius: 5px;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $desktop) {
      top: 30%;
      left: 48%;
      height: 70px;
    }
    @media (max-width: $tablet) {
      top: 35%;
      left: 24%;
    }
    &:after {
      content: '';
      position: absolute;
      border: 15px solid transparent;
      border-top-color: $primary;
      //top: 99%;
      bottom: 0;
      left: 50%;
      transform: translateY(100%);
      border-width: 15px 8px 0 8px;
    }
  }
  &__address {
    font-family: 'Source Sans Pro', sans-serif;
    @include font(bold, 12px, 16px);
    @media (max-width: $desktop) {
      @include font(bold, 11px, 14px);
    }

    &--normal {
      font-weight: normal;
    }
  }
  &--height {
    height: 400px;
    @media (max-width: $desktop) {
      height: 216px;
    }
    @media (max-width: $tablet) {
      height: 268px;
    }
  }
}