.plan {
  &__warp {
    @extend .warps;
  }
  &__title {
    text-align: center;
    &--indent {
      padding-bottom: 50px;
      @media (max-width: $desktop) {
        padding-bottom: 30px;
      }
    }
  }

  &__items {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    @media (max-width: $desktop) {
      padding: 0 35px;
    }
    @media (max-width: $tablet) {
      height: 260px;
      padding: 0 30px;
    }
    &--indent {
      @media (max-width: $tablet) {
        margin-bottom: 48px;
      }
    }
  }
  &__item {
    width: 33%;
    padding: 0 35px;
    @media (max-width: $desktop) {
      padding: 0 25px;
    }
    @media (max-width: $tablet  ) {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      //display: none;
      /*&:not(:first-child) {
        display: none;
      }*/
      &:nth-child(2) {
        //position: relative;
        z-index: 1;
        //display: block;
      }
    }
  }
  &__words {
    display: none;
    @media (max-width: $tablet  ) {
      display: flex;
      justify-content: space-around;
    }
    &--indent {

    }
  }
  &__word {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    @include font(bold, 12px, 16px);
    padding: 5px 25px;
    background-color: rgba($light, .5);
    border-radius: 20px;
    transition: background-color $transition-time ease;
    &.active {
      background-color: $primary;
    }
  }

  &--bg {
    background-color: rgba($light, .5);
  }
  &--indent {
    padding-top: 45px;
    padding-bottom: 110px;
    @media (max-width: $desktop) {
      padding-bottom: 70px;
    }
    @media (max-width: $tablet  ) {
      padding-top: 5px;
      padding-bottom: 40px;
    }
  }
}