.plan {
  &__warp {
    @extend .warps;
  }
  &__title {
    text-align: center;
    &--indent {
      padding-bottom: 50px;
      @media (max-width: $desktop) {
        padding-bottom: 30px;
      }
      @media (max-width: $tablet) {
        padding-bottom: 50px;
      }
    }
  }

  &__items {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    @media (max-width: $desktop) {
      padding: 0 35px;
    }
    @media (max-width: $tablet) {
      height: 260px;
      padding: 0 30px;
    }
    &--indent {
      @media (max-width: $tablet) {
        margin-bottom: 30px;
      }
    }
  }
  &__item {
    width: 33%;
    padding: 0 35px;
    @media (max-width: $desktop) {
      padding: 0 25px;
    }
    @media (max-width: $tablet  ) {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 50px;
      //&:nth-child(1) {
      //  z-index: 1;
      //  .card {
      //    transform: translateY(-25px) scale(.9);
      //  }
      //}
      //&:nth-child(2) {
      //  z-index: 2;
      //}
      //&:nth-child(3) {
      //  .card {
      //    transform: translateY(-50px) scale(.8);
      //  }
      //}
    }
  }
  &__words {
    display: none;
    @media (max-width: $tablet  ) {
      display: flex;
      justify-content: space-around;
    }
    &--indent {

    }
  }
  &__word {
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    @include font(bold, 12px, 16px);
    padding: 5px 25px;
    background-color: transparent;
    border-radius: 20px;
    transition: background-color $transition-time ease;
/*    &.active {
      background-color: $primary;
    }*/
    &--primary.active {
      background-color: $primary;
      color: $darker;
    }
    &--darker.active {
      background-color: $darker;
      color: $white;
    }
    &--grad {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 8px;
        z-index: 0;
        background: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, .15) 100%);
        pointer-events: none;
      }
    }
  }

  &--bg {
    background-color: rgba($light, .5);
  }
  &--indent {
    padding-top: 45px;
    padding-bottom: 110px;
    @media (max-width: $desktop) {
      padding-bottom: 70px;
    }
    @media (max-width: $tablet  ) {
      padding-top: 5px;
      padding-bottom: 40px;
    }
  }
}