.social {
  display: flex;
  outline: none;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $white;
    &--primary {
      color: $primary;
    }
    &--darker {
      color: $darker;
    }
    &--big {
      @include square-size(24px);
      margin-right: 45px;
      .svg {
        @include square-size(24px);
      }
      @media (max-width: $desktop) {
        .svg {
          @include square-size(20px);
        }
        margin-right: 20px;
      }
    }
    &--middle {
      @include square-size(24px);
      .svg {
        @include square-size(24px);
      }
      //margin-right: 37px;
      @media (max-width: $desktop) {
        .svg {
          @include square-size(18px);
        }
        //margin-right: 20px;
      }
      &:last-child {
        //margin-right: 25px;
      }
    }
    &--small {
      .svg {
        @include square-size(18px);
      }
      @include square-size(18px);
      .svg {
      }
      margin-right: 15px;
    }
    &--indent {
      margin-right: 5px;
    }
  }
  &__wrapper {
    display: flex;
  }
}