// Colors

$primary:      #ebcb80;
//$secondary:      #d1b471;
$dark:           #7d7d7d;
$darker:         #4b4b4b;
$light:          #e6e6e6;
$lighter:         #7d7d7d;
//$lighter:         #f6f6f6;
$success:        #7feb7f;
$danger:         #eb7f7f;

$white: #fff;

// Grid

$content-width-desk: 1140px;
$content-width-tab: 720px;
$content-width-mob: 290px;

//Size

$tablet: 767px;
$desktop: 1440px;

$feat-big: 60px;
$feat-mid: 40px;
$feat-small: 30px;

$mark-big: 60px;
$mark-small: 30px;


//Time

$transition-time: .2s;

// Maket
$maket-visible: 0; // 0 - Invisible | 1 - Visible


